<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Create an account!</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) {%>
			<li><%- JSON.stringify(flash.err[error]) %> </li>
			<% }) %>
		</ul>
	<% } %>
	<label for="name">Name</label>
	<input type="text" class="form-control" placeholder="Name" name="name">
	<label for="email">Email</label>
	<input type="text" class="form-control" placeholder="Email" name="email">
	<label for="password">Password</label>
	<input type="password" class="form-control" placeholder="Password" name="password" id="password">
	<label for="confirm">Confirm Password</label>
	<input type="password" class="form-control" placeholder="Confirm Password" name="confirm" id="confirmPassword">
	<div class="checkbox">
		<label>
      		<input type="checkbox" id="passwordCheckbox"> Show/Hide Password
    	</label>
  	</div>
 	<!-- <hr>
 	<div class="radio">
  		<label>
   			<input type="radio" name="companyRadio" id="joinCompany" value="joinCompany" checked>
    		Join Company
  		</label>
	</div> 	
	<div class="radio">
  		<label>
   			<input type="radio" name="companyRadio" id="createCompany" value="joinCompany">
    		Create Company
  		</label>
	</div>
 	<label for="company">Company</label>
	<input type="text" class="form-control" name="company" id="company" placeholder="Company">
	<div id="companyForm"><input type="hidden" class="form-control" value="Content Admin" name="level"></div> -->
 	<hr>
	<br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
		<h5>Or</h5>
	<h5><a href="/session/new/">Sign In!</a></h5>
</form>


<input type="hidden" class="form-control" value="content admin" placeholder="level" name="level">
