<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Create an account!</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) {%>
			<li><%- JSON.stringify(flash.err[error]) %> </li>
			<% }) %>
		</ul>
	<% } %>
	<label for="firstName">First Name</label>
	<input type="text" class="form-control" placeholder="First Name" name="firstName">	
	<label for="lastName">Last Name</label>
	<input type="text" class="form-control" placeholder="Last Name" name="lastName">
	<label for"phoneNumber">Phone Number</label>
	<input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber">
	<label for="email">Email</label>
	<input type="text" class="form-control" placeholder="Email" name="email">
	<label for="password">Password</label>
	<input type="password" class="form-control" placeholder="Password" name="password" id="password">
	<label for="confirm">Confirm Password</label>
	<input type="password" class="form-control" placeholder="Confirm Password" name="confirm" id="confirmPassword">
	<div class="checkbox">
		<label>
      		<input type="checkbox" id="passwordCheckbox"> Show/Hide Password
    	</label>
  	</div>
 	<hr>
	<br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
		<h5>Or</h5>
	<h5><a href="/session/new/">Sign In!</a></h5>
</form>


<input type="hidden" class="form-control" value="content admin" placeholder="level" name="level">
