<div class="container">
	<form action="/company/joinCompany" method="POST" id="sign-up-form" class="form-signin">	
		<h2 class="form-signin-heading">Join A Company</h2>
					
		<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) {%>
				<li><%- JSON.stringify(flash.err[error]) %> </li>
				<% }) %>
			</ul>
		<% } %>
	
		<label for="companyName">Company</label>
		<input type="text" class="form-control" placeholder="Company" name="companyName">
		<input type="submit" class="btn btn-primary" value="Join company!">
		<input type="hidden" name="_csrf" value="<%= _csrf %>">
		<h5>Or</h5>
		<h5><a href="/company/new/">Create a Company!</a></h5>
	</form>
</div>